.movie-reviews-content {
    margin: 0em;
    width: 100%; 
    overflow-y: auto;
    padding: 40px;
    background-color: var(--secondary-color); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0); 
    border-radius: 0px;
    color: var(--primary-text-color); 
    display: flex;
    flex-direction: column;

  }

  .review textarea {
    width: 50vh;
    height: 10vh;
  }

  .movie-reviews-content h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .review {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    
  }
  
  .review-buttons {
    display: flex;
    justify-content: space-between;
  }

  .review button {
    background-color: var(--background-color);
    border: 1px solid var(--primary-text-color);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    font-size:x-small;
    width: 100px;
    color: var(--primary-text-color);
  }

  .edit-button {
    margin-left: auto;
    margin-bottom: 20px;
  }

  .review select {
    width: 3vh;
    height: 2vh;
    background-color: var(--background-color);
    border: 1px solid var(--primary-text-color);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    font-size:x-small;
    width: 100px;
    color: var(--primary-text-color);
  }