.userdetail-container {
  margin: 0em;
  width: 100%; 
  overflow-y: auto;
  padding: 40px;
  background-color: var(--secondary-color); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  border-radius: 0px;
  overflow-y: auto;
  color: var(--primary-text-color); 
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.user-tabs-container {
  position: relative;
}

.user-tabs-content {
  height: 100%;
}

.user-tabs-content p{
  margin-top: 5px; 
  margin-bottom: 10px;
  
}

.user-tabs-content h1{
  margin-top: 5px; 
  margin-bottom: 10px;
  text-transform: uppercase;
}

.user-tabs-content h2{
  margin-top: 5px; 
  margin-bottom: 10px;
  text-transform: uppercase;
}

.user-tabs-content h3{
  margin-top: 5px; 
  margin-bottom: 10px;
}

.user-content-container {
  order: 7;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1px;
  position: relative;
  z-index: 1;
  background-color: var(--secondary-color);
  color: var(--primary-text-color); 
}

.user-content-left, .user-content-right {
  text-align: left;
  width: 50%;
  margin: 10px;
  height: 100vh;
}

.user-tabs-container {
  order: 5;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1px;
  background-color: var(--secondary-color);
}

.user-tabs-left, .user-tabs-right {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  min-width: max-content;
}

.user-tabs-left p, .user-tabs-right p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left : 20px;
  height: 40px;
  text-transform: uppercase;
  font-size: large;
}

.note-heading {
  font-size: 1em;
  font-weight: bold;
}

.active {
  background-color: var(--primary-color); 
}

.review-image img{
  width: 100px;
  margin-right: 20px;
}

.review-content p{
  margin-top: 5px; 
  margin-bottom: 10px;
}

.review-content h3{
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .user-content-left,
  .user-content-right {
  width: 100%;
  }
  .user-content-right {
    display: none;
  }

  .user-tabs-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .user-tabs-left,
  .user-tabs-right {
    flex: 1 0 auto;
  }

  .user-content-container {
    display: flex;
    flex-direction: column;
  }

}